.add-user-modal {
    background-color: $light-gray;
    color: $google-blue;
    display: table;
    font: bold font(20px);
    height: 300px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    width: 500px;
}
