.log {
    height: 600px;
    overflow: auto;
    width: 588px;

    &--item {
        border-left: 1px solid $light-gray;
        color: $light-gray;
        list-style-type: none;
        padding: 5px;
    }
}
